@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  font-size: 16px;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 20vw 40vw 40vw;
  grid-template-rows: 12vh 88vh;
  grid-template-areas:
    "header header header"
    "sidebar main main";
}

main {
  grid-area: main;
}

.info-text {
  color: #175ff0;
}

#root > main.MuiBox-root {
  overflow: auto !important;
}

.pin {
  padding: 8px;
  border-radius: 3px;
  font-size: 12px;
}
.tag {
  background: #4e5289;
  color: white;
  margin: 5px 4px;
  padding: 7px 15px;
}
.flex-spanner {
  flex-grow: 1;
}
.question-list {
  max-width: 1000px;
  margin: auto;
}
.over-question-table {
  flex: 1;
  border-radius: 4px;
  padding: 25px 25px 15px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  background-color: #c1c1c11f;
  color: #44576a;
  box-shadow: 0px 7px 13px 0 rgb(192 195 208 / 65%);
}

.over-question-table form input {
  width: 100%;
  padding: 12px 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  color: black;
}

.form-group input::placeholder,
form input::placeholder {
  color: #44576a;
}

@media screen and (max-width: 960px) {
  #root {
    height: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 88vh;
    grid-template-areas:
      "header"
      "main";
  }
}
