@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;

  height: 100vh;
  font-size: 16px;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 15vh 85vh;
  grid-template-areas:
    "header header header"
    "sidebar main main";
}

main {
  grid-area: main;
}

.info-text {
  color: #135df0;
}
