* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tags li {
  background: rgb(228, 197, 138);
  padding: 4px;
}
.questionItem {
  background: #eee;
  padding: 2rem 1rem;
}
.questionItem:not(:last-of-type) {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
