/* Nav Styles */
nav {
  background-color: #1d1e21;
  width: 20vw;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 15vw;
  padding-bottom: 2em;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
}

.nav-buttons button {
  font-size: 0.85em;
  border-top: none;
  border-left: none;
  border-right: none;
  justify-content: left;
  padding: 1.75em 1.15em;
  background-color: #1d1e21;
  border-bottom: solid 1px #c8d1df;
  border-radius: 0em;
  color: #c8d1df;
}

.user-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0em 1.25em;
  color: #c8d1df;
}

.user-area .username {
  color: #76f013;
}
