.answer-pins {
  display: flex;
  justify-content: flex-end;
}

.answer-wrapper {
  flex: 1;
  border-radius: 8px;
  padding: 25px 25px 40px;
  width: 80%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  background-color: #a8a6c61c;
  color: #44576a;
}

.answer-wrapper .icon-button {
  min-width: 0;
}

.answer-pin {
  padding: 10px;
  margin-right: 5px;
}

.button-group {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
