.modules-list {
  background: transparent;
  margin-right: auto;
  margin-left: 2.2em;
  margin-top: 0.5em;
  list-style-type: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 70%;
  padding-left: 0px;
  padding-top: 10px;
}

.modules-list li {
  padding: 0.5em;
  background: transparent;
  cursor: pointer;
  padding-left: 10px;
  /* border-radius: 4px; */
}

.modules-list li:hover {
  padding: 0.5em;
  background: #0fe31d;
  cursor: pointer;
  color: #fff;
  width: 100%;
  /* border-radius: 4px; */
}

.modules-list a {
  color: white;
}
