.modules-list {
  margin-right: auto;
  margin-left: 2.2em;
  margin-top: 1em;
  list-style-type: none;
  color: #c8d1df;
  display: flex;
  flex-direction: column;
}

.modules-list li {
  margin-bottom: 1em;
}

.modules-list a {
  color: white;
}

.modules-list a:hover {
  color: #69d926;
}
