sidebar {
  background: linear-gradient(180deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  width: 20vw;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 15vw;
  padding-bottom: 2em;
  border-right: 1px solid #fff;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.sidebar-buttons button {
  width: 100%;
  font-size: 0.85em;
  border-top: none;
  border-left: none;
  border-right: none;
  justify-content: left;
  padding: 1.75em 1.15em;
  background: transparent;
  border-bottom: solid 1px #fff;
  border-radius: 0px;
  color: #fff;
}

.sidebar-buttons button:hover {
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: #fff;
}

.ask-question {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0em 1.25em;
  color: #fff;
}

.ask-question button {
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  background-color: #76f013;
  overflow: hidden;
  line-height: 0.75em;
  /* padding: 5px; */
}

.ask-question button:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}

:root {
  --primary: #76f013;
}
