.questionItem {
  background: #eee;
  padding: 2rem 1rem;
  list-style-type: none;
  border-radius: 4px;
}

.questionItem:not(:last-of-type) {
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags li {
  background: #76f013;
  padding: 4px;
}
