.dropdown-menu {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  width: 200px;
  position: absolute;
  top: 11vh;
  list-style: none;
  text-align: start;
  z-index: 1000;
}

.dropdown-menu li {
  background: transparent;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #0fe31d;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
