.answer-pins {
  display: flex;
  justify-content: flex-end;
}

.answer-wrapper {
  flex: 1;
  border-radius: 4px;
  padding: 35px 35px 20px;
  width: 100%;
  margin: auto;
  margin-right: 0;
  margin-bottom: 20px;
  position: relative;
  background-color: #a8a6c61c;
  color: #44576a;
  line-height: 21px;
  box-shadow: 0px 3px 13px 0 rgb(192 195 208 / 65%);
}

.answer-wrapper * {
  font-family: auto;
}

.answer-wrapper p {
  max-width: 96%;
}

.answer-wrapper .icon-button {
  min-width: 0;
  color: #4e5289;
}
.answer-wrapper .icon-button.delete {
  min-width: 0;
  color: #a3454c;
}

.answer-pin {
  padding: 10px;
  margin-right: 5px;
}

.button-group {
  position: absolute;
  right: 10px;
  top: 5px;
}
.button-group button {
  padding: 3px;
  width: 34px;
  height: 34px;
  min-height: 34px;
  max-width: 34px;
  min-width: 34px;
  /* height: 20px; */
  /* max-height: 20px; */
  border: solid rgb(128 148 233 / 16%) 1px;
  border-radius: 50%;
  padding: 0;
  /* line-height: 10px; */
  background: white;
  box-shadow: inset 0px 0px 5px 0 rgb(152 144 188 / 50%);
  margin-right: 5px;
}
