.avatar-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  /* border: 2px solid green; */
}

.button-creator {
  border-radius: 4px;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  background-color: #76f013;
  overflow: hidden;
  line-height: 0.75em;
}

.button-creator:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
  color: black;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  margin: auto;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

.avatar-container:hover {
  transform: scale(1.1);
}

.avatar-image {
  background-color: #fff;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.avatar-text {
  font-size: 0.5em;
  transition: font-size 0.3s ease-in-out;
  transform-origin: 50% 50%;
  font-weight: 300;
  padding: 10px 10px 0px 10px;
  letter-spacing: 3px;
  margin: 0;
  color: #fff;
}

/* .avatar-container:hover .avatar-text {
  font-size: 0.8em;
} */
